*{
    font-family: Montserrat;
    margin: 0; padding: 0;
    outline: none; border: none;
    transition: .2s linear;
}

body{
    background-color: #EDF2F8;
    width: 100vw;
}

.navbar{
    background-color: white;
    padding: 1rem 1rem;
    width: 85vw;
    margin: 1rem 1rem;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    border-radius: 2.5rem;
    box-shadow: 6px 15px 15px rgba(0, 0, 0, .02);
}

.logo{
    position: relative;
    left: 3rem;
}

.logo img{
    width: 9rem;
}

.mainnavbar{
    background-color: #464D70;
}

.navbar .menu a{
    text-decoration: none;
    padding-right: 2rem;
    color: #464D70;
    font-weight: 400;
}

.navbar .menu a:hover{
    font-weight: 500;
    color: black;
}

.navbar .cv{
    position: relative;
    right: 3rem;
}

.navbar .cv a{
    position: relative;
    border-radius: 2.5rem;
    text-decoration: none;
    font-size: small;
    color: #464D70;
}

.navbar .cv a:hover{
    font-weight: 500;
    color: black;
}

.navbar .cv i{
    font-size: 1rem;
    padding-left: .5rem;
}

.navbar .cv i:hover{
    font-weight: 500;
    color: black;
}
.hero{
    height: 100vh;
    /* background-color: #464D70; */
}
.hero .background{
    position: relative;
    z-index: -2;
    text-align: center;
    top: 5rem;
}
.hero .background img{
    width: 40%;
}

.initial{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    width: 12rem;
    border-radius: 1rem;
    gap: 1rem;
    position: absolute;
    top: 15rem;
    left: 15rem;
}
.waveEmoji img{
    width: 3rem;
}

.myName h5{
    color: #918C9F;
    font-weight: 500;
}

.myName h2{
    transform: translateX(-1%);
}

.profilePic{
    position: absolute;
    top: 10rem;
    width: 100vw;
    text-align: center;
}
.profilePic .img{
    width: 10rem;
}
